{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  medley/medley {:mvn/version "1.2.0"}}

 :aliases
 {:run {:main-opts ["-m" "foo.core"]}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
         :main-opts ["-m" "kaocha.runner"]}

  :build
  {:deps {com.github.liquidz/my-clj-build {:git/sha "128b4860878b45fe78e26ce3dfbea1b7d95aee6d"}}
   ;; io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
   ;; slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}


