{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  medley/medley {:mvn/version "1.2.0"}
  toyokumo/gluttony {:mvn/version "0.3.2"}}

 :aliases
 {:run {:main-opts ["-m" "foo.core"]}
  :dev {:extra-paths ["test"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}
                     lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}
  :test {:main-opts ["-m" "kaocha.runner"]}

  :build
  {:deps {com.github.liquidz/build.edn {:git/tag "0.9.194" :git/sha "8e36200"}}
   :ns-default build-edn.main}}}
