#kaocha/v1
{:color? true
 :reporter [kaocha.report/dots]
 :plugins [:kaocha.plugin/cloverage]
 :cloverage/opts {;; :src-ns-path ["src/antq"]
                  ;; :test-ns-path ["test"]
                  ;; :summary? false
                  :html? false
                  :text? true
                  :custom-report foo.cloverage/reporter-fn}}

