#kaocha/v1
{:color? true
 :reporter [kaocha.report/dots]
 :plugins [:kaocha.plugin/cloverage]
 :cloverage/opts {:src-ns-path ["src"]
                  :test-ns-path ["test"]
                  :custom-report foo.cloverage/reporter-fn}}
